<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>table board</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="/webjars/bootstrap/4.5.3/css/bootstrap.min.css"
	rel="stylesheet">
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="/webjars/bootstrap/4.5.3/jS/bootstrap.js"></script>

<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.bundle.min.js'></script>
<script>
    $(document).ready(function() {
        var ctx = $("#cpuUsage");
        var usage = Number([[${cpuUsage.cpu}]]);
        var myLineChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ["Used", "Space"],
                datasets: [{
                    data: [usage, (100 - usage)],
                    backgroundColor: ["rgba(255, 0, 0, 0.5)", "rgba(100, 255, 0, 0.5)"]
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'Percentage'
                }
            }
        });
    });
</script>

<script>
    $(document).ready(function() {
        var ctx = $("#ramUsage");
        var usable = parseFloat([[${usage.TotalRam}]]);
        var used = parseFloat([[${usage.UsedRam}]]);
        var myLineChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ["Used", "Space"],
                datasets: [{
                    data: [used, usable],
                    backgroundColor: ["rgba(255, 0, 0, 0.5)", "rgba(100, 255, 0, 0.5)"]
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'GB'
                }
            }
        });
    });
</script>

<script>
    $(document).ready(function() {
        var ctx = $("#diskUsage");
        var usable = parseFloat([[${usage.UsableDisk}]]);
        var used = parseFloat([[${usage.UsedDisk}]]);
        var myLineChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: ["Used", "Space"],
                datasets: [{
                    data: [used, usable],
                    backgroundColor: ["rgba(255, 0, 0, 0.5)", "rgba(100, 255, 0, 0.5)"]
                }]
            },
            options: {
                title: {
                    display: true,
                    text: 'GB'
                }
            }
        });
    });
</script>

<link href="/css/fileListTable.css" rel="stylesheet">
</head>
<body>
	<div class="container">
	<h2>파일 목록</h2>
	<div class="table-box-wrap">
	<div class="table-box">
		<table class="table table-fixed table-hover">
			<thead>
				<tr>
					<th><span th:text="${CurrentPath}"></span></th>
					<th></th>
				</tr>
			</thead>
			<tbody>

					<th th:if="${isHome} == '0'">
						<a th:href="@{/dashboard/redirect/back}">
						<span th:text=".."></span>
						</a>
					</span>
					</th>

			
			
				<tr class="text-center" th:each="post : ${FileList}">


					<th th:switch="${post.isFile}">
					<span th:case="true" class="center-block label label-info">
					<span th:text="${post.FileName}"></span></span>
					
					<span th:case="false" class="center-block label label-primary">
						<a th:href="@{/dashboard/redirect(path=${post.FileName})}">
						<span th:text="${post.FileName}"></span>
						</a>
					</span>
					</th>


					<td th:switch="${post.isFile}">
					<span th:case="false" class="center-block label label-info"></span>
					<span th:case="true" class="center-block label label-primary">
						<a th:href="@{/dashboard/download(fileName=${post.FileName})}">
						<span th:text="다운로드"></span>
						</a>
					</span>
					</td>

					
				</tr>
			</tbody>
		</table>
		</div>
		</div>
		
<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row">
        
            <div class="container-fluid d-flex justify-content-center">
                <div class="col-sm-8 col-md-6">
                    <div class="card" Style="float: left;">
                        <div class="card-header">CPU 사용량</div>
                        <div class="card-body" style="height: 330px">
                            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                    <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                </div>
                            </div> <canvas id="cpuUsage" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas>
                        </div>
                    </div>
                    
                    <div class="card" Style="float: left;">
                        <div class="card-header">RAM 사용량</div>
                        <div class="card-body" style="height: 330px">
                            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                    <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                </div>
                            </div> <canvas id="ramUsage" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas>
                        </div>
                    </div>
                    
                    <div class="card" Style="float: left;">
                        <div class="card-header">DISK 사용량</div>
                        <div class="card-body" style="height: 330px">
                            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                    <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                </div>
                            </div> <canvas id="diskUsage" width="299" height="200" class="chartjs-render-monitor" style="display: block; width: 299px; height: 200px;"></canvas>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        
        
    </div>
</div>


		
	</div>
</body>
</html>
