<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layouts/layout}"
>
  <head>
  </head>

  <div layout:fragment="content" class="d-flex align-items-stretch">
      <div id="sidebar" class="sidebar py-3">
        <div class="text-gray-400 text-uppercase px-3 px-lg-4 py-4 font-weight-bold small headings-font-family">MAIN</div>
        <ul class="sidebar-menu list-unstyled">
              <li class="sidebar-list-item"><a href="index" class="sidebar-link text-muted active"><i class="o-home-1 mr-3 text-gray"></i><span>Home</span></a></li>
              <li class="sidebar-list-item"><a href="usage" class="sidebar-link text-muted"><i class="o-sales-up-1 mr-3 text-gray"></i><span>Usage</span></a></li>
              <li class="sidebar-list-item"><a href="filesystem" class="sidebar-link text-muted"><i class="o-repository-1 mr-3 text-gray"></i><span>Files</span></a></li>
              <li class="sidebar-list-item"><a href="forms" class="sidebar-link text-muted"><i class="o-survey-1 mr-3 text-gray"></i><span>Forms</span></a></li>
              <li class="sidebar-list-item"><a href="login" class="sidebar-link text-muted"><i class="o-exit-1 mr-3 text-gray"></i><span>Login</span></a></li>
        </ul>
      </div>
      <div class="page-holder w-100 d-flex flex-wrap">
        <div class="container-fluid px-xl-5">
          <section class="py-5">
            
          </section>
          
          <!-- 이곳부터 -->
          
          <section class="py-5">
            
          </section>
        </div>
      </div>
    </div>
</html>